In [1]:
import pandas as pd

In [11]:
datasets_folder = "../../datasets"

In [12]:
netflix = pd.read_csv(f'{datasets_folder}/netflix_titles.csv')

In [13]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [14]:
netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

In [15]:
netflix.tail(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [21]:
women = pd.read_csv(f'{datasets_folder}/indian_women.csv')

In [22]:
women.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7685 entries, 0 to 7684
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Full Name        7685 non-null   object
 1   Description      7638 non-null   object
 2   Job              7574 non-null   object
 3   Education Place  1675 non-null   object
 4   Native Language  572 non-null    object
 5   Country          7685 non-null   object
 6   Father           360 non-null    object
 7   Mother           214 non-null    object
 8   Spouse           872 non-null    object
 9   Birth Date       6322 non-null   object
 10  Death Date       1155 non-null   object
 11  Birth Place      5110 non-null   object
 12  Death Place      620 non-null    object
 13  Death Method     130 non-null    object
 14  Death Reason     176 non-null    object
dtypes: object(15)
memory usage: 900.7+ KB

In [23]:
women.head(2)

,Full Name,Description,Job,Education Place,Native Language,Country,Father,Mother,Spouse,Birth Date,Death Date,Birth Place,Death Place,Death Method,Death Reason
0,Shanta Shelke,Marathi Poet And Writer,Poet,NaN,NaN,India,NaN,NaN,NaN,1922-10-19,2002-06-06,Pune,NaN,Natural Causes,Cancer
1,Sonali Bendre,Indian Actress And Model,Model,Kendriya Vidyalaya,Hindi,India,NaN,NaN,Goldie Behl,1975-01-01,NaN,Mumbai,NaN,NaN,NaN

In [24]:
women.tail(2)

,Full Name,Description,Job,Education Place,Native Language,Country,Father,Mother,Spouse,Birth Date,Death Date,Birth Place,Death Place,Death Method,Death Reason
7683,Savitha Shri B,Indian Chess Woman Grandmaster,Chess Player,NaN,NaN,India,NaN,NaN,NaN,2007-01-01,NaN,Chennai,NaN,NaN,NaN
7684,Jyotsna Das,Odia Actress,Actor,NaN,Odia,India,NaN,NaN,NaN,1927-00-00,2020-07-14,NaN,NaN,NaN,NaN